.boxJoker {
    color: goldenrod;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}
.btnNext {
    padding: 10px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
}